.member-container1 {
  max-width: 1024px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 25px 0 rgba(117, 134, 62, 0.7);
  background-image: url(../img/1.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.member-container2 {
  max-width: 1024px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 25px 0 rgba(117, 134, 62, 0.7);
  background-image: url(../img/2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.member-container3 {
  max-width: 1024px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 25px 0 rgba(117, 134, 62, 0.7);
  background-image: url(../img/3.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.member-container0 {
  max-width: 1024px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 25px 0 rgba(117, 134, 62, 0.7);
  background-image: url(../img/0.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
h1, .button-padding {
  padding-left: 10px;
}
.h1-container {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.body-container {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.box-shadow {
  box-shadow: 0 0 8px #ffffff;
}
.btn_27 {
cursor: pointer;
display: block;
text-align: center;
vertical-align: middle;
text-decoration: none;
width: 120px;
padding-top: 5px;
padding-bottom: 5px;
padding-right: 10px;
padding-left: 10px;
color: #fff;
font-weight: bold;
position: relative;
transition: 0.3s ease-in-out;
background-color: rgb(117, 134, 62);
}
.btn_27:hover {
  background: #fff;
  color: rgb(117, 134, 62);
}
.btn_27:before, .btn_27:after {
box-sizing: inherit;
content: "";
position: absolute;
border: 2px solid transparent;
width: 0;
height: 0;
}
.btn_27:before {
top: 0;
left: 0;
}
.btn_27:after {
bottom: 0;
right: 0;
}
.btn_27:hover:before, .btn_27:hover:after {
width: 100%;
height: 100%;
}
.btn_27:hover:before {
border-top-color: rgb(117, 134, 62);
border-right-color: rgb(117, 134, 62);
transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}
.btn_27:hover:after {
border-bottom-color: rgb(117, 134, 62);
border-left-color: rgb(117, 134, 62);
transition: border-color 0s ease-out 0.2s, width 0.15s ease-out 0.2s, height 0.15s ease-out 0.3s;
}
.button-parent {
display: flex;
margin-left: 10px;
margin-right: 10px;
}
.button-parent-user {
display: flex;
justify-content: flex-end;
margin-right: 10px;
}
.button-child {
margin-right: 10px;
}
@media only screen and (min-width: 900px) {
  .title {
    font-size: 50px;
  }
}
@media only screen and (max-width: 900px) {
  .title {
    font-size: 40px;
  }
}
h2 {
margin-top: 0px;
}
.text-white {
  color: #ffffff;
  font-weight: bold;
  text-shadow:2px 2px 3px #000000c5;
  width: 100%;
  word-wrap: break-word;
}
h3 {
  padding-left: 10px;
}