{% extends "base.html" %}
{% block title %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/blogcreate.css') }}">
<title>ブログ作成画面</title>
{% endblock %}
{% block body %}
<div class="body-container">
    <div class="h1-container">
        <h1 class="ja">ブログ作成画面</h1>
    </div>
    <div class="box_con">
        <form method="POST">
            {{ form.csrf_token }}
            <table class="formTable">
                <tr>
                    <th class="ja">タイトル</th>
                    <td>{{ form.title(size="30") }}</td>
                </tr>
            </table>
            <div>
                {% for error in form.title.errors %}
                <h4 class="error ja">{{ error }}</h4>
                {% endfor %}
            </div>
            <table class="formTable">
                <tr>
                    <th class="ja">内容</th>
                    <td>{{ form.context(cols="50", rows="5") }}</td>
                </tr>
            </table>
            <div>
                {% for error in form.context.errors %}
                <h4 class="error ja">{{ error }}</h4>
                {% endfor %}
            </div>
            <p class="btn">
                <span>{{ form.submit(class="ja login") }}</span>
            </p>
        </form>
        <div class="button"><a href="/{{user.id}}/mypage" class="btn_27 ja">住処に戻る</a></div>
    </div>
</div>
{% endblock %}