{% extends "base.html" %}
{% block title %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/password.css') }}">
<title>旅立つ者たちへ</title>
{% endblock %}
{% block body %}
<div class="body-container">
    <div class="h1-container">
        <h1 class="ja">旅立つ者たちへ</h1>
    </div>
    <div class="box_con">
        <form method="POST">
            {{ form.csrf_token }}
            <table class="formTable">
                <tr>
                    <th class="ja">パスワード</th>
                    <td>{{ form.password(size="30") }}</td>
                </tr>
            </table>
            <div>
                {% for error in form.password.errors %}
                <h4 class="error ja">{{ error }}</h4>
                {% endfor %}
            </div>
            <p class="btn">
                <span>{{ form.submit(class="ja login") }}</span>
            </p>
        </form>
    </div>
</div>
{% endblock %}